build-vscp-works-qt-Desktop_Qt_5_14_2_GCC_64bit-Debug
vscp
build
src/CMakeCache.txt
src/CMakeFiles/
src/cmake_install.cmake

# Buildfiles on windows
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
CMakeCache.txt
CMakeFiles/
INSTALL.vcxproj
INSTALL.vcxproj.filters
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
cmake_install.cmake
vscp-works-qt.sln
vscp-works-qt.vcxproj
vscp-works-qt.vcxproj.filters
