<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>vscp-works-qt</Name>
    <Version>0.0.1</Version>
    <Title>VSCP Works +</Title>
    <Publisher>Grodans Paradis AB</Publisher>
    <StartMenuDir>VSCP</StartMenuDir>
    <TargetDir>@HomeDir@/VSCP/VSCP Works Qt</TargetDir>
    <RemoteRepositories>
        <Repository>
            <Url>https://vscp.org/packages</Url>
            <Enabled>true</Enabled>
            <DisplayName>VSCP Projects</DisplayName>
        </Repository>
    </RemoteRepositories>
    <ControlScript>installscript.qs</ControlScript>
    <PackageInfo>package.xml</PackageInfo>
    <UserInterfaces>
        <UserInterface>ui/installer.ui</UserInterface>
    </UserInterfaces>
    <InstallerWindowIcon>icon.ico</InstallerWindowIcon> 
    <ProductImages>
        <ProductImage>
            <Image>Built_with_Qt.png</Image>
            <Url>https://www.qt.io/blog</Url>
        </ProductImage>
        <ProductImage>
            <Image>Built_with_Qt_logo.png</Image>
            <Url>https://www.qt.io/</Url>
        </ProductImage>
    </ProductImages>
</Installer>